.profile {
    background-color: tomato;
    display: grid;
}

.profileInfo {
    /*background: url(https://regnum.ru/uploads/pictures/news/2020/10/18/regnum_picture_1602973854369178_normal.jpg) */
    /*no-repeat;*/
    /*background-size: cover;*/
    /*height: 300px;*/
}

.profileStatus {
    color: black;
}
